.card {
  width: 500px;
  height: 700px;
  background-color: white;
  display: inline-block;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  display: block;
  position: relative;
}
#top-suit {
  position: absolute;
  top: 20;
  left: 20;
  font-size: 100px;
}
#number {
  display: table;
  margin: 0 auto;
  margin-top: 50%;
  margin-bottom: 40%;
  font-size: 130px;
}
#bottom-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 100px;
}
